NEXT_PUBLIC_API_BASE_URL=http://localhost:5000
PORT=3000
NEXTAUTH_SECRET=anyrandomlongstringhere123456789
GOOGLE_CLIENT_ID=179721710732-dvv8pe9j43lge9aa824dpugs1qde3i2n.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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